@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&subset=latin,latin-ext&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

.light {
  --bg: #fdfdfd;
  --fg: #212121;
  --light-fg: #404040;
  --light-bg: #dddddd;
  --primary: #fb1b1b;
}

body {
  font-family: "Roboto";
}

.background {
  background-color: var(--bg);
}

.container {
  max-width: 1000px;
  width: 85%;
  background-color: var(--bg);
  margin: 0 auto;
}
